.categories{
    margin: 40px 0;
}


.column {
    float: left;
    width: 20%;
    padding: 5px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
  box-sizing: border-box;
}


.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
}

.big-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 32.5px;
    padding-bottom: 50px;
    
}
body {
    background-color: #d6feff;
  }


  .nav {
    margin-top: 50px;
  }
  