@{
	ViewData["Title"] = "Accessories";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Commerce</title>
	<!--- code from Bootstrap C# Examples: http://csharpexamples.com/bootstrap-examples/ --->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!--- end of code from Bootstrap C# tab examples --->
	<link rel="stylesheet" href="~/css/catalog.css">
</head>

<body>      
<div class = "categories">
	<div class = "small-container">  
		<div class="row">  
			<div class="column">
				<a href = ""><img src="~/assets/catalog-pics/accessories/acc1.jpg"  width="190px" height="220px"></a>
				<h6> Grey Shoes Bag</h6>
				<p>$387.00</p>
			</div>
			<div class="column">
				<a href = ""><img src="/assets/catalog-pics/accessories/acc2.jpg"  width="165px" height="220px"></a>
				<h6>Foot Fitter</h6>
				<p>$288.00</p>
			</div>
			<div class="column">
				<a href = ""><img src="/assets/catalog-pics/accessories/acc3.jpg"  width="190px" height="220px"></a>
				<h6>Shoe Laces</h6>
				<p>$210.00</p>
			</div>
			<div class="column">
				<a href = ""><img src="/assets/catalog-pics/accessories/acc4.jpg"  width="180px" height="220px"></a>
				<h6>Orange Boost 350 V2 </h6>
				<p>$188.00</p>
			</div>
			<div class="column">              
				<a href = ""><img src ="/assets/catalog-pics/accessories/acc5.jpg" width="200px" height="210px"></a>              
				<h6> Epoxy Spiked Shoes</h6>
				<p>$198.00</p>
			</div>

		</div>
	</div>
</div>

</body>
</html>
