@{
	ViewData["Title"] = "Main Page";
}

<!DOCTYPE html>
<html>
<head>
	<title>E-Commerce</title>
	<!--- code from Bootstrap C# Examples: http://csharpexamples.com/bootstrap-examples/ --->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!--- end of code from Bootstrap C# tab examples --->
	<link rel="stylesheet" href="~/css/mainpage.css">
</head>
<body>
<img class="logo" src="https://cdn.discordapp.com/attachments/961351822092681276/962798017512087552/ECommerce_Logo.png"
     height="100" width="250"/>
<nav>
	<a href="/Home/Cart" class="float-right margin">Cart</a>
	<a href="../Login/loginpage.html" class="float-right margin">Login</a>
	<input type="text" name="search-bar" class="margin float-right search-bar">
</nav>
<ul class="nav nav-tabs">
	<li class="active"><a href="Category1Page" class="c1">Crocs</a></li>
	<li><a href="Category2Page" class="c2">Yeezys</a></li>
	<li><a href="Category3Page" class="c3">Jordans</a></li>
	<li><a href="Category4Page" class="c4">Accessories</a></li>
</ul>
<img src ="~/assets/MainPageImage.png" height="440"
     width="1020"/>
</body>
</html>