@{
	ViewData["Title"] = "Main Page";
}

<!DOCTYPE html>
<html>
<head>
	<title>E-Commerce</title>
	<!--- code from Bootstrap C# Examples: http://csharpexamples.com/bootstrap-examples/ --->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!--- end of code from Bootstrap C# tab examples --->
	<link rel="stylesheet" href="~/css/mainpage.css">

	<!--- code from Bootstrap C# Examples: http://csharpexamples.com/bootstrap-examples/ --->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!--- end of code from Bootstrap C# tab examples --->
	<link rel="stylesheet" href="~/css/catalog.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<h1 class="welcome-message">WELCOME</h1>
	<img class="main" src ="~/assets/MainPageImage.png" height="440"
		 width="1020"/>

	<h3 class="trending">Trending Now</h3>

	<div class="shoes">
	<div class = "small-container">  
		<div class="row">  
			<div class="column-2" id="spacing">
				<img class = "product-image" src="/assets/catalog-pics/yeezys/orangeyz.jpg"  width="270px" height="200px">
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked "></span>
				<span class="fa fa-star checked"></span>
				<h6>Orange Boost 350 V2 </h6>
				<p>$188.00</p>
				@using (Html.BeginForm("MainPage", "Home"))
				{
					<input type='hidden' name="selectedProduct" value="8">
					<button type="submit">Add to Cart</button>
				}
			</div>
			<div class="column-2" id="spacing">
				<img class = "product-image" src="/assets/catalog-pics/jordans/jordans2.jpg"  width="270px" height="200px">
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked "></span>
				<span class="fa fa-star checked"></span>
				<h6>Air Jordan 1 Mid Grade School</h6>
				<p>$898.00</p>
				@using (Html.BeginForm("MainPage", "Home"))
				{
					<input type='hidden' name="selectedProduct" value="11">
					<button type="submit">Add to Cart</button>
				}
			</div>
			<div class="column-2" id="spacing">
				<img class = "product-image" src="~/assets/catalog-pics/crocs/crocs1.jpg" width="270px" height="200px">
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked "></span>
				<span class="fa fa-star checked"></span>
				<h6> Aringa Mens Garden Clog</h6>
				<p>$27.00</p>
				@using (Html.BeginForm("MainPage", "Home"))
				{
					<input type='hidden' name="selectedProduct" value="1">
					<button type="submit">Add to Cart</button>
				}
			</div>
		</div>
	</div>
</div>

<h3 class="limited">Limited Time</h3>
<img class="jordan" src ="~/assets/jordansImage.jpeg" height="440"
		 width="1020"/>
</body>
</html>
