@{
	ViewData["Title"] = "Checkout";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ECommerce - Checkout</title>
  <!--Linking to CSS file-->
  <link rel ="stylesheet" href="~/css/checkout.css">
</head>
<body>

<h1 class="page-title">CHECKOUT</h1>

  <div class="item-flex">
    <section class="checkout">
      <h2 class="payment-heading">PAYMENT DETAILS</h2>
      <div class="payment-form">

        <form action="#" methods="post">
          <div class="cardholderName">
            <label for="cardholderName" class="payment-input-label">Cardholder Name</label>
          </div>
          <input type="text" name="cardholderName" id="cardholderName" placeholder = "CARDHOLDER NAME" class="payment-input">

          <div class="cardNumber">
            <label for="cardNumber" class="payment-input-label">Card Number</label>
          </div>
          <input type="text" name="cardNumber" id="cardNumber" placeholder = "XXXX-XXXX-XXXX-XXXX" class="payment-input">

          <div class="expiration">
            <label for="expiration" class="payment-input-label">Expiration date</label>
            <div class="input-flex">
              <input type="number" name="month" id="expiration" placeholder="XX" min="1" max="12"
                class="payment-input">
              /
              <input type="number" name="year" id="expiration" placeholder="XX" min="22" max="99"
                class="payment-input">
            </div>
          </div>

          <div class="cvv">
            <label for="cvv" class="payment-input-label">CVV</label>
          </div>
          <input type="number" name="cvv" id="cvv" class="payment-input" placeholder = "XXX" min="100" max="999">
          
          <button class="btn-pay" type="submit">
	          <b>Pay</b>
          </button>
        </form>
      </div>

    </section>

      <section class="cart">
        <div class="right-cart-box">
          <h2 class="payment-heading">Cart Checkout</h2>

          <div class="product-card">
            <div class="card">
              <div class="img-box">
                <img src="~/assets/White Nike Socks.jpg" alt="White Nike Socks" width="80" class="product-img">
              </div>
              <div class="detail">
                <h4 class="product-name">White Nike Socks</h4>
                <div class="product-price-info">
                  <div class="product-quantity">
                    <span>Quantity: </span><span>2</span>
                  </div>
                  <div class="price">
                    <span>Price: </span><span>$25.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="product-card">
            <div class="card">
              <div class="img-box">
                <img src="~/assets/Running shoes.jpg" alt="Running Shoes" width="80" class="product-img">
              </div>
              <div class="detail">
                <h4 class="product-name">Running Shoes</h4>
                <div class="product-price-info">
                  <div class="product-quantity">
                    <span>Quantity: </span><span>1</span>
                  </div>
                  <div class="price">
                    <span>Price: </span><span>$65.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="wrapper">
          <div class="amount">

            <div class="subtotal">
              <span>Subtotal</span> <span>$ <span id="subtotal">115.00</span></span>
            </div>

            <div class="discount">
              <span>Discount</span> <span>$ <span id="discount">5.00</span></span>
            </div>

            <div class="shipping">
              <span>Shipping</span> <span>$ <span id="shipping">10.00</span></span>
            </div>

            <div class="tax">
              <span>Tax</span> <span>$ <span id="tax">5.00</span></span>
            </div>

            <hr>

            <div class="total">
              <span>Total</span> <span>$ <span id="total">125.00</span></span>
            </div>

          </div>
        </div>
      </section>
  </div>
</body>
</html>