@{
	ViewData["Title"] = "Accessories";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Commerce</title>
	<!--- code from Bootstrap C# Examples: http://csharpexamples.com/bootstrap-examples/ --->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!--- end of code from Bootstrap C# tab examples --->
	<link rel="stylesheet" href="~/css/catalog.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>      
<div class="title">
	<h1 class = category-title>ACCESSORIES</h1>
</div>
<div class = "categories">
	<div class = "small-container">  
		<div class="row">  
			<div class="column-2">
				<img class = "product-image" src="~/assets/catalog-pics/accessories/acc1.jpg"  width="190px" height="220px">
					<div>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star "></span>
					</div>
				<h6> Grey Shoes Bag</h6>
				<p>$38.00</p>
				@using (Html.BeginForm("Accessories", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="14">
					<button type="submit">Add to Cart</button>
				}
			</div>
			<div class="column-2">
				<img class = "product-image" src="/assets/catalog-pics/accessories/acc2.jpg"  width="165px" height="220px">
				<div>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star "></span>
				</div>
				<h6>Foot Fitter</h6>
				<p>$42.00</p>
				@using (Html.BeginForm("Accessories", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="15">
					<button type="submit">Add to Cart</button>
				}
			</div>
			<div class="column-2">
				<img class = "product-image" src="/assets/catalog-pics/accessories/acc3.jpg"  width="190px" height="220px">
				<div>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star "></span>
				</div>
				<h6>Shoe Laces</h6>
				<p>$9.00</p>
				@using (Html.BeginForm("Accessories", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="16">
					<button type="submit">Add to Cart</button>
				}
			</div>
			<div class="column-2">
				<img class = "product-image" src="/assets/catalog-pics/accessories/acc4.jpg"  width="180px" height="220px">
				<div>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star "></span>
				</div>
				<h6>Lock Laces </h6>
				<p>$15.00</p>
				@using (Html.BeginForm("Accessories", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="17">
					<button type="submit">Add to Cart</button>
				}
			</div>
			<div class="column-2">              
				<img class = "product-image" src ="/assets/catalog-pics/accessories/acc5.jpg" width="200px" height="210px">            
				<div>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star "></span>
				</div>
				<h6> Epoxy Spiked Shoes</h6>
				<p>$88.00</p>
				@using (Html.BeginForm("Accessories", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="18">
					<button type="submit">Add to Cart</button>
				}
			</div>

		</div>
	</div>
</div>

</body>
</html>
