@{
	ViewData["Title"] = "Crocs";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Commerce</title>
	<!--- code from Bootstrap C# Examples: http://csharpexamples.com/bootstrap-examples/ --->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!--- end of code from Bootstrap C# tab examples --->
	<link rel="stylesheet" href="~/css/catalog.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>
<div class=title>
	<h1 class="category-title">CROCS</h1>
	<h1 class="sale-title">15% SALE!</h1>
</div>
<div class="categories">
	<div class="small-container">
		<div class="row">
			<div class="column-2">
				<img class="product-image" src="~/assets/catalog-pics/crocs/crocs1.jpg" width="260px" height="140px">
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<h6> Aringa Mens Garden Clog</h6>
				<p>$27.00</p>
				@using (Html.BeginForm("Crocs", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="1">
					<button type="submit">Add to Cart</button>
				}


			</div>
			<div class="column-2">
				<img class="product-image" src="/assets/catalog-pics/crocs/crocs2.jpg" width="260px" height="140px">
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star "></span>
				<h6>Classic Women Leopard Print Clog</h6>
				<p>$58.00</p>
				@using (Html.BeginForm("Crocs", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="2">
					<button type="submit">Add to Cart</button>
				}
			</div>
			<div class="column-2">
				<img class="product-image" src="/assets/catalog-pics/crocs/crocs3.jpg" width="250px" height="140px">
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star "></span>
				<h6> Crocband II Clog</h6>
				<p>$39.00</p>
				@using (Html.BeginForm("Crocs", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="3">
					<button type="submit">Add to Cart</button>
				}
			</div>
			<div class="column-2">
				<img class="product-image" src="/assets/catalog-pics/crocs/crocs4.jpg" width="250px" height="140px">
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star unchecked"></span>
				<span class="fa fa-star unchecked"></span>
				<h6>Offroad Sport Clog </h6>
				<p>$25.00</p>
				@using (Html.BeginForm("Crocs", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="4">
					<button type="submit">Add to Cart</button>
				}
			</div>

		</div>
	</div>
</div>

</body>
</html>
