@{
	ViewData["Title"] = "Jordans";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Commerce</title>
	<!--- code from Bootstrap C# Examples: http://csharpexamples.com/bootstrap-examples/ --->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!--- end of code from Bootstrap C# tab examples --->
	<link rel="stylesheet" href="~/css/catalog.css">
</head>

<body>      
<div class = "categories">
	<div class = "small-container">  
		<div class="row">  
			<div class="column-2">
				<a href = ""><img src="~/assets/catalog-pics/jordans/jordans1.jpg"  width="270px" height="180px"></a>
				<h6> Men's Jordan 6 Retro UNC University Blue/White-Black</h6>
				<p>$697.00</p>
			</div>
			<div class="column-2">
				<a href = ""><img src="/assets/catalog-pics/jordans/jordans2.jpg"  width="270px" height="180px"></a>
				<h6>Air Jordan 1 Mid Grade School</h6>
				<p>$898.00</p>
			</div>
			<div class="column-2">
				<a href = ""><img src="/assets/catalog-pics/jordans/jordans3.jpg"  width="270px" height="180px"></a>
				<h6>Air Jordan 4 Retro - Yellow</h6>
				<p>$399.00</p>
			</div>
			<div class="column-2">
				<a href = ""><img src="/assets/catalog-pics/jordans/jordan4.jpg"  width="270px" height="180px"></a>
				<h6>Air Jordan 4 Retro- White </h6>
				<p>$499.00</p>
			</div>

		</div>
	</div>
</div>

</body>
</html>
