@{
	ViewData["Title"] = "Catalog";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Commerce</title>
	<!--- code from Bootstrap C# Examples: http://csharpexamples.com/bootstrap-examples/ --->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!--- end of code from Bootstrap C# tab examples --->
	<link rel="stylesheet" href="~/css/catalog.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>      
<div class = "categories">
	<div class = "small-container">  
		<div class="row">  
			<div class="column-2">
				<img src="~/assets/catalog-pics/yeezys/buy-1.jpg"  width="220px" height="200px">				
				<div>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star "></span>
					<span class="fa fa-star"></span>						
				</div>
				<h6> Oreo Boost 350 V2</h6>
				<p>$387.00</p>
				@using (Html.BeginForm("Yeezys", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="5">
					<button type="submit">Add to Cart</button>
				}
			</div>
			<div class="column-2">
				<img src="/assets/catalog-pics/yeezys/blackyz.jpg"  width="220px" height="200px">
				<div>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star "></span>
					<span class="fa fa-star"></span>
				</div>
				<h6>Black Boost 350 V2</h6>
				<p>$288.00</p>
				@using (Html.BeginForm("Yeezys", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="6">
					<button type="submit">Add to Cart</button>
				}
			</div>
			<div class="column-2">
				<img src="/assets/catalog-pics/yeezys/lightblueyz1.jpg"  width="220px" height="200px">
				<div>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star "></span>
					<span class="fa fa-star"></span>
				</div>
				<h6>Blue Boost 350 V2</h6>
				<p>$210.00</p>
				@using (Html.BeginForm("Yeezys", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="7">
					<button type="submit">Add to Cart</button>
				}
			</div>
			<div class="column-2">
				<img src="/assets/catalog-pics/yeezys/orangeyz.jpg"  width="220px" height="200px">
				<div>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked "></span>
					<span class="fa fa-star checked"></span>
				</div>
				<h6>Orange Boost 350 V2 </h6>
				<p>$188.00</p>
				@using (Html.BeginForm("Yeezys", "Catalog"))
				{
					<input type='hidden' name="selectedProduct" value="8">
					<button type="submit">Add to Cart</button>
				}
			</div>
			<div class="column-2">              
				<img src = "/assets/catalog-pics/yeezys/brownyz.jpg" width="220px" height="200px">            
				<div>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<div/>
					<h6> Brown Boost 350 V2</h6>
					<p>$198.00</p>
					@using (Html.BeginForm("Yeezys", "Catalog"))
					{
						<input type='hidden' name="selectedProduct" value="9">
						<button type="submit">Add to Cart</button>
					}
				</div>

			</div>
		</div>
	</div>
</div>
</body>
</html>
