body {
  background-color: #ddfff7;
}

a:hover {
  color : black;
}

#float-right {
  float: right;
}

.margin {
  margin-right: 10px;
}

.logo {
  margin-left: 20px;
  margin-top : 20px;
}

.search-bar {
  margin-right: 60px;
}

img {
  margin-left: 150px;
  margin-top: 100px;
}

.nav {
  margin-top: 50px;
}

.c1 {
    margin-left: 10px;
}

.c2 {
    margin-left: 20px;
}

.c3 {
    margin-left: 25px;
}

.c4 {
    margin-left: 28px;
}
