body {
  background-color: #ddfff7;
}

a:hover {
  color : black;
}

#float-right {
  float: right;
}

.margin {
  margin-right: 10px;
}

.main {
    margin-left: 150px;
    margin-top: 100px;
}

* {
    box-sizing: border-box;
}

.trending {
   margin-left :125px;
   margin-top: 150px;
}

.shoes {
    margin-bottom: 200px;
}

#spacing {
    margin-right: 20px;
}

.limited {
    margin-left: 125px;
    margin-top: 200px;
}

.jordan {
    margin-left: 125px;
    margin-bottom: 200px;
}
